@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d80eede5dd5b95992bb09d/1507331822340/AvenirLTStd-Black.otf');
   font-style: normal;
}


@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d8020a46c3c4655ad11d46/1507328522601/AvenirLTStd-Heavy.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d80202b1ffb6b103840288/1507328514415/AvenirLTStd-Book.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d8022af7e0ab21edbbb454/1507328554212/AvenirLTStd-Roman.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d8021b268b96ed79bbde72/1507328539271/AvenirLTStd-Light.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light-LightOblique';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d80d8e4c326d0fa4a42d83/1507331470768/AvenirLTStd-LightOblique.otf');
   font-weight: 400;
   font-style: normal;
}

/* nav MENU */
.layout-style-center #topNav nav li a {
  font-family:'AvenirLTStd-Heavy';
 }

/* HIDE BORDER MAIN PAGE */
.page-divider{ 
border:0;
}

.main-nav ul li {
  /* border:2px solid green; */
  
  
}

.main-nav ul li:hover {
  background-color:azure;
}


/* LOGO BAR*/
#logo {
   text-align:center !important;
   /* background-color:beige;*/
   

  
}

.site-title .logo {
  font-family: 'AvenirLTStd-Heavy';
  letter-spacing: 0px !important;
  border:1px solid green;
  margin-right:10px !important;
  
  
}


/* NAV BAR TOP */
.layout-style-center #logo, .layout-style-center #topNav {
  border:1px solid purple;
  padding-top:1%;
  padding-bottom:1%;
}

/* NAV BAR BOTTOM */

#topNav {
 
  border:2px blanchedalmond;
  
  /* background-color:orange;*/
}


/* NAV TEXT */
.main-nav {
  padding-left:1%;
}

/* NAV HEADER */
header {
  
  
  /* background-color:#876293;*/
}


#header {
  
  
}

/* EEL VIDEO */
.fullscreenVideo {
  width:100%;
  
}

/* HOVER EFFECTS */

 
 

/* PHOTOGRAPHY */
#yui_3_17_2_1_1507353232017_160:hover {
   -webkit-filter: sepia(30%);
	filter: sepia(30%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
 
} 
/* 
img:hover  {
    -webkit-filter: sepia(30%);
	filter: sepia(30%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
} */

/* VIDEOGRAPHY */

video:hover {
  -webkit-filter: sepia(30%);
	filter: sepia(30%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

/* VIDEO CONTENT OUT OF LINE */
#block-yui_3_17_2_2_1505347702371_12485 {
    padding-top:10px;
}
  

/* WEB DESIGN */
  #yui_3_17_2_1_1507353232017_181:hover {
   -webkit-filter: sepia(20%);
	filter: sepia(20%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  }



  
/* REMOVE A UNDERLINE */
.underline-body-links .html-block a {
  border-bottom:0;
}
/* Headings */
h1, {
  font-family: 'AvenirLTStd-Heavy'; 
  
}

h1,text-align-center {
  font-family: 'AvenirLTStd-Heavy'; 
}


h2 {
  font-family: 'AvenirLTStd-Heavy';
  
}

h3 {
  font-family: 'AvenirLTStd-Heavy';  
}

h4 {
  font-family: 'AvenirLTStd-Heavy';  
}

h5 {
  font-family: 'AvenirLTStd-Heavy';  
}

h6 {
  font-family: 'AvenirLTStd-Heavy';  
}

p {
  font-family: 'AvenirLTStd-Light';
}

/* BUTTON TEXT */
.sqs-block-button .sqs-block-button-element--small {
  font-family: 'AvenirLTStd-Light-LightOblique';
}



