/* DSDN 383 INTRO To Prof moffatarap (300317288) */

/** MAIN PAGE INDEX **/

/* ID NAV */
#topNav {
  /*display:none; */
  padding-top:0px;
}

#page {
  padding-top:1%;
}

#canvas {
  padding-top:1.2%; /*removes padding above logo */
}

#header {
  margin-bottom:1.5%;
}

/* CLASS NAV */
.logo-subtitle { 
  display:none;
}