/* DSDN 383 ARAPAOA DESIGN */
/* HIDE SCROLL BAR */
@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d80eede5dd5b95992bb09d/1507331822340/AvenirLTStd-Black.otf');
   font-style: normal;
}


@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d8020a46c3c4655ad11d46/1507328522601/AvenirLTStd-Heavy.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d80202b1ffb6b103840288/1507328514415/AvenirLTStd-Book.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d8022af7e0ab21edbbb454/1507328554212/AvenirLTStd-Roman.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d8021b268b96ed79bbde72/1507328539271/AvenirLTStd-Light.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light-LightOblique';
  src: url('https://static1.squarespace.com/static/58a6174d37c58153e1ca498f/t/59d80d8e4c326d0fa4a42d83/1507331470768/AvenirLTStd-LightOblique.otf');
   font-weight: 400;
   font-style: normal;
}

/* HIDE SCROLL BAR */
::-webkit-scrollbar { 
  display: none;
}

/* nav MENU */
.layout-style-center #topNav nav li a {
  font-family:'AvenirLTStd-Heavy';
 }

/* A ACTIVE LANDING PAGE  NAV */
#collection-598fc78fd482e9b47f7086d5 #topNav li:first-child a {
  color:#876293 !important;
  display:none;
}
/* VIDEO LAST STAND */
#collection-59d03f6a32601e11ca6009c3 #topNav li:nth-child(3) a {
  color:#876293 !important;  
}

/* VIDEO A MIND INSIDE */
#collection-59d5574d49fc2b7b4fc0a40b #topNav li:nth-child(3) a {
  color:#876293 !important;  
}

/* DISASTER ZONE */
#collection-59d2ff6ef43b554a111d34ef #topNav li:nth-child(4) a {
  color:#876293 !important;
}

/* A ACTIVE LANDING PAGE  NAV FOOTER */
#collection-598fc78fd482e9b47f7086d5 #footerNavUl li:first-child a {
  color:#876293 !important;
  display:none;
}

/* A ACTIVE PHOTOGRAPHY NAV FOOTER */
#collection-5990f9427131a56b5daa7aef #footerNavUl li:nth-child(2) a {
  color:#876293 !important;
}

/* A ACTIVE VIDEOGRAPHY NAV FOOTER */
#collection-5990f2aa893fc0867d8bb60d #footerNavUl li:nth-child(3) a {
  color:#876293 !important;
}

/* VIDEO LAST STAND */
#collection-59d03f6a32601e11ca6009c3 #footerNavUl li:nth-child(3) a {
  color:#876293 !important;
}

/* VIDEO A MIND INSIDE */
#collection-59d5574d49fc2b7b4fc0a40b #footerNavUl li:nth-child(3) a {
  color:#876293 !important; }

/* A ACTIVE WEB DESIGN NAV FOOTER */
#collection-5990fb424c0dbfafe1fcf184 #footerNavUl li:nth-child(4) a {
  color:#876293 !important;
}

/* DISASTER ZONE */

#collection-59d2ff6ef43b554a111d34ef #footerNavUl li:nth-child(4) a {
  color:#876293 !important;
}

/* A ACTIVE CONTACT  NAV FOOTER */
#collection-59daca93a8b2b06fbe132c16 #footerNavUl li:nth-child(5) a {
  color:#876293 !important;
}
/* hide get in touch on contact page */
#collection-59daca93a8b2b06fbe132c16 .sqs-block-button-element--small.sqs-block-button-element.sqs-block-button-element {
  display:none;
}

/* HIDE CONTACT HEADER */
#collection-59daca93a8b2b06fbe132c16 h3 {
  
}

/* HIDE BORDER MAIN PAGE */
.page-divider{ 
border:0;
}

.main-nav ul li {
  /* border:2px solid green; */
    
}

/* LOGO BAR*/ 
#logo h1 {
   text-align:center !important;
   padding-top:0;
   padding-bottom:1%;
   width:auto !important;
  
   
   /*  border:1px solid green; */  
}

.site-title .logo {
  font-family: 'AvenirLTStd-Heavy';
  letter-spacing: 0px !important;
  text-align: center !important;
  margin-right:10px !important;
  
  /* border:1px solid green; */  
  
}


/* NAV BAR TOP */
#topNav {
  text-align: center !important;
  padding-bottom:2%;
  
  
  
  /*  border:1px solid purple; */
}

/* NAV BAR BOTTOM */



/* NAV TEXT */
.main-nav {
  padding-left:1%;
}

/* NAV HEADER */
header {
  
  
  /* background-color:#876293;*/
}


#header {
  
  
}

/* SPACER BLOCK */
/* LANDING PAGE*/
#collection-598fc78fd482e9b47f7086d5 .spacer-block {
  /* border:1px solid green; */
  height:10px !important;
  padding:0;
  margin:0;
  
}

/* REMOVE A UNDERLINE */
.underline-body-links .html-block a {
  border-bottom:0;
}
  
  /* SMAL BUTTON  */
.sqs-block-button-element--small.sqs-block-button-element:hover {
   background-color:#183152 !important;
  color:#f5f5f5 !important; 
  -webkit-transition: background-color .4s ease-in-out !important;
  transition: .4s background-color  ease-in-out !important; 
  
  }

.sqs-block-button-element--small.sqs-block-button-element {
  background-color:#f5f5f5;
  color:#183152 !important; 
  -webkit-transition: background-color .4s, ease-in-out !important;
  transition: .4s background-color ease-in-out !important; 
  
  }


/* HOVER EFFECTS */

/* WEB DESIGN */
#collection-598fc78fd482e9b47f7086d5 #block-1d821855511522bb6414:hover {
  -webkit-filter: saturate(1.7);
  filter: saturate(1.7);
  
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out; 
}

/* TRANSITION TO 0 */
#collection-598fc78fd482e9b47f7086d5 #block-1d821855511522bb6414 {
  -webkit-filter: saturate(1);
  filter: saturate(1);
  
-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}


/* PHOTOGRAPHY */
#collection-598fc78fd482e9b47f7086d5 #block-a1101d7f979ce9bfc718:hover {
  -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out; 
}

/* TRANSITION TO 0 */
#collection-598fc78fd482e9b47f7086d5 #block-a1101d7f979ce9bfc718 {
  -webkit-filter: saturate(1);
  filter: saturate(1);
  
-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}


/* VIDEOGRAPHY */

#collection-598fc78fd482e9b47f7086d5 video:hover {
  -webkit-filter: saturate(0);
  filter: saturate(0);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
} 

/* TRANSITION TO 0 */
#collection-598fc78fd482e9b47f7086d5 video {
   -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
} 

/* EEL VIDEO */
.fullscreenVideo {
  width:100%;
  
}

/* THE LAST STAND DEVELOPEMNT PAGE */
/* IMG HOVER */
#collection-59d03f6a32601e11ca6009c3 .thumb-image.loaded:hover {
   -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

#collection-59d03f6a32601e11ca6009c3 .thumb-image.loaded {
   -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}

/* VIDEO HOVER */
#collection-59d03f6a32601e11ca6009c3 .intrinsic:hover {
  -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

/* TRANSITION TO 0 */
#collection-59d03f6a32601e11ca6009c3 .intrinsic {
   -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}

/* A MIND INSIDE DEV PAGE */
/* IMG HOVER */
#collection-59d5574d49fc2b7b4fc0a40b .thumb-image.loaded:hover {
   -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

#collection-59d5574d49fc2b7b4fc0a40b .thumb-image.loaded {
   -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}

/* VIDEO HOVER */
#collection-59d5574d49fc2b7b4fc0a40b.intrinsic:hover {
  -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

/* TRANSITION TO 0 */
#collection-59d5574d49fc2b7b4fc0a40b .intrinsic {
   -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}

/* A MIND INSIDE DEV PAGE END */

/* WEB DESIGN */

/* HOVER MAIN PAGE  */
#collection-5990fb424c0dbfafe1fcf184 .intrinsic:hover {
  -webkit-filter: saturate(1.1);
  filter: saturate(1.1);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

/* TRANSITION TO 0 */
#collection-5990fb424c0dbfafe1fcf184.intrinsic {
   -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}

/* HOVER DISASTER ZONE DEV */

#collection-59d2ff6ef43b554a111d34ef .intrinsic:hover {
  -webkit-filter: saturate(1.2);
  filter: saturate(1.2);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

/* TRANSITION TO 0 */
#collection-59d2ff6ef43b554a111d34ef .intrinsic {
   -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; 
}


/* VIDEO CONTENT OUT OF LINE */
#collection-598fc78fd482e9b47f7086d5 #block-yui_3_17_2_2_1505347702371_12485 {
    padding-top:10px;
}


  
/* PHOTOGRAPHY PAGE */

/* PHOTOS HIGH LIGHT IF LIGHT BOX IS SET */
#collection-5990f9427131a56b5daa7aef .lightbox:hover {
      -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  
}


#collection-5990f9427131a56b5daa7aef .lightbox {
  -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  
}

/* FLCKR */
#collection-5990f9427131a56b5daa7aef .image-slide-anchor.content-fill:hover {
  -webkit-filter: saturate(1.4);
  filter: saturate(1.4);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

#collection-5990f9427131a56b5daa7aef .image-slide-anchor.content-fill {
  -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

/* VIDEOGRAPHY */

/* HOVER */
#collection-5990f2aa893fc0867d8bb60d .intrinsic {
  -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  
}


#collection-5990f2aa893fc0867d8bb60d .intrinsic:hover {
  -webkit-filter: saturate(1.4);
  filter: saturate(1.4);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  
}

/* WEB DESIGN */
#collection-5990fb424c0dbfafe1fcf184 img {
    -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  
}

#collection-5990fb424c0dbfafe1fcf184 img { 
  -webkit-filter: saturate(1.4);
  filter: saturate(1.4);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 

}
/* ABOUT */

#collection-58a617c386e6c09b3656ff80 .intrinsic {
    -webkit-filter: saturate(1);
  filter: saturate(1);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}

#collection-58a617c386e6c09b3656ff80 .intrinsic:hover {
    -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
}





/* Headings */
h1 {
  font-family: 'AvenirLTStd-Heavy'; 
  
}

h2 {
  font-family: 'AvenirLTStd-Heavy';
  
}

h3 {
  font-family: 'AvenirLTStd-Heavy';  
}

h4 {
  font-family: 'AvenirLTStd-Heavy';  
}

h5 {
  font-family: 'AvenirLTStd-Heavy';  
}

h6 {
  font-family: 'AvenirLTStd-Heavy';  
}

p {
  font-family: 'AvenirLTStd-Light';
}

blockquote {
  font-family: 'AvenirLTStd-Light';
  
}

/* BUTTON TEXT */
.sqs-block-button .sqs-block-button-element--small {
  font-family: 'AvenirLTStd-Light-LightOblique';
}

/* FOOTER NAV AND CONTACT */

#footerNavDiv {
  
  /* border:1px solid green; */
}

.footerNavLI {
  display:inline-block;
  text-align:center;
  font-family: 'AvenirLTStd-Heavy';
  padding:1% 1% 1% 1%;
  margin-bottom:1%;
  text-align: center; 
  /* border:1px solid blue; */
}

#footerNavUl {
  list-style: none;
  margin:0 !important;
  padding:0 !important;
  width:100%;  
  text-align: center;
  
  
  
  /* border:1px solid pink; */
  
  
}

#footerPDiv {  
 /* border:1px solid orange; */
}

#footerNavP {
 /*  border:1px solid black; */
  
}

/* HIDE BORDER */
.page-divider {
 
  display: none;
}


/* COLOR STYLES */

/* FOOTER */

#header {


}
#topNav {
  /* background-color:#f0f0f0; */
  
}
footer {
  
}

#footerBlock {
 
}

/* HIDE */
#block-yui_3_17_2_11_1507424073268_14124 {
  display:none
}

#mobileNav {
  font-family: 'AvenirLTStd-Heavy';
}

#mobileMenuLink {
  font-family: 'AvenirLTStd-Heavy';
}

/* MOBILE NAV TEXT SET */
#mobileNav a {
  font-family: 'AvenirLTStd-Roman';
}

/* CUSTOM SPACER BLOCK SIZE */

/* PHOTOGARPHY PAGE */

/* #1.0 PHOTOGRAPHY */
#collection-5990f9427131a56b5daa7aef #block-yui_3_17_2_2_1503346575169_9765 {
  padding-bottom:0 !important;
}

/* #1  NEED PHOTOS TAKEN */
#collection-5990f9427131a56b5daa7aef #block-yui_3_17_2_9_1507783581328_57636 {
  height:1px !important;
  padding:0 !important;
  margin:0 !important;
}

/* #2 CREATIVE COMMONS */
#collection-5990f9427131a56b5daa7aef #block-yui_3_17_2_18_1507014490086_131596 {
  height:1px !important;
  padding:0 !important;
  margin:0 !important;
}

/* #3 PHOTO STREAM */
#collection-5990f9427131a56b5daa7aef #block-yui_3_17_2_3_1507014490086_268501{
  height:4px !important;
  padding:0 !important;
  margin:0 !important;
}


/* VIDEOGRAPHY PAGE */

/* #1.0 VIDEOGRAPHY TITLE */
#collection-5990f2aa893fc0867d8bb60d #block-f255a70e2089a5bdac38 {
   padding-bottom:0 !important;  
}

/* #1 TITLE SPACER */
#collection-5990f2aa893fc0867d8bb60d #block-556e2b39991f45b3f09f {
    height:1px !important;
    padding:0 !important;
    margin:0 !important;
}

/* #2 ALIGN FIX */
#collection-5990f2aa893fc0867d8bb60d .sqs-block-spacer {
  border: 2px solid green !important;
  height: 10px;
}

/* #2.1 FOG */
#collection-5990f2aa893fc0867d8bb60d #block-yui_3_17_2_1_1529017727329_19106 {
  border: 2px solid orange !important;
  height: 44px !important;
  padding:0px !important;
}

/* #2.2 Durvlle Island */



/* WEB DESIGN PAGE */

/* #1 TITLE SPACER */
#collection-5990fb424c0dbfafe1fcf184 #block-yui_3_17_2_7_1507509550177_23047 {
    height:1px !important;
    padding:0 !important;
    margin:0 !important;
  
}

/* #2 TITLE SPACER */
#collection-5990fb424c0dbfafe1fcf184 #block-yui_3_17_2_21_1505355745100_6651 {
  height:25px !important;
  padding:0 !important;
  margin:0 !important;
   
}

/* #3 TITLE SPACER */

#collection-5990fb424c0dbfafe1fcf184 #block-yui_3_17_2_11_1507783581328_42295 {
  height:25px !important;
  padding:0 !important;
  margin:0 !important;
  
}

/* #4 TITLE SPACER */
#collection-5990fb424c0dbfafe1fcf184 #block-yui_3_17_2_11_1507783581328_40181 {
  height:25px !important;
  padding:0 !important;
  margin:0 !important;
  
}

/* CONTACT BUTTON */


/* FOOTER PADDING ADJUST */
#block-yui_3_17_2_8_1506835335066_4526 {
  height:auto !important;
  padding-top: 0 !important;
  padding-bottom:0 !important;
  margin-bottom:0 !important;
} 

#collection-598fc78fd482e9b47f7086d5 #footer .sqs-block-button {
  display: none;
  
}




















